.footer {
  width: 100%;
  background-color: white;
  padding: 1.5vh 20px;
  display: flex;
  justify-content: center;
  box-shadow: 2px 0px 18px 0px #ececec;
}

.footer .container {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.license {
  text-transform: uppercase;
  letter-spacing: 2px;
}
